<div class="Section breakDivPage clsSection">
    <div class="SectionHead">
        <u>Section 6</u> - Summary and Recommendations
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr class="addDeficiencies">
                <td class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SummaryComment" rows="2"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        @* RDBJ 10/20/2021 Set Name and Value *@
        <input type="checkbox" name="IsSummarySectionComplete" style="margin-left:20px;" class="GIRData" value="true">
    </div>
</div>
