<div class="Section breakDivPage clsSection">
    <div class="SectionHead">
        <u>Section 5H</u> - Security Equipment and Records
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td width="10%" class="v-al-m text-center">
                    No.
                </td>
                <td width="40%" class="v-al-m text-center">Item</td>
                <td width="50%" class="v-al-m text-center">Comment</td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    1
                </td>
                <td width="40%" class="v-al-m">
                    @* RDBJ 10/19/2021 Update Name based on inspector feedback *@
                    <p class="m-0 m-l-5">Nautical charts</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="NauticalchartsComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    2
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Notice to mariners</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="NoticetomarinersComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    3
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">ADP Publications</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 clsDeficienciesText GIRData" name="ADPPublicationsComment" rows="1"></textarea>
                </td>
            </tr>
            @*<tr class="addDeficiencies">
            <td width="10%" class="v-al-m text-center">
                3
            </td>
            <td width="40%" class="v-al-m">
                <p class="m-0 m-l-5">List of radio signals</p>
            </td>
            <td width="50%" class="clsDeficiencies">
                <textarea class="form-control col-md-12 GIRData" name="ListofradiosignalsComment" rows="1"></textarea>
            </td>
        </tr>
        <tr class="addDeficiencies">
            <td width="10%" class="v-al-m text-center clsItemNo">
                4
            </td>
            <td width="40%" class="v-al-m">
                <p class="m-0 m-l-5">List of lights (ADP)</p>
            </td>
            <td width="50%" class="clsDeficiencies">
                <textarea class="form-control col-md-12 GIRData" name="ListoflightsComment" rows="1"></textarea>
            </td>
        </tr>*@
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    4
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">e-NP</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SailingdirectionsComment" rows="1"></textarea>
                </td>
            </tr>
            @*<tr class="addDeficiencies">
            <td width="10%" class="v-al-m text-center clsItemNo">
                6
            </td>
            <td width="40%" class="v-al-m">
                <p class="m-0 m-l-5">Tide tables (ADP)</p>
            </td>
            <td width="50%" class="clsDeficiencies">
                <textarea class="form-control col-md-12 GIRData" name="TidetablesComment" rows="1"></textarea>
            </td>
        </tr>*@
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    5
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Navtex and printer</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="NavtexandprinterComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    6
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Radars</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="RadarsComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    7
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">GPS</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="GPSComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    8
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">AIS</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="AISComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    9
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">VDR</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="VDRComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    10
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">ECDIS</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="ECDISComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    11
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Echo sounder</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="EchosounderComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    12
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">ADP backup laptop</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="ADPbackuplaptopComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    13
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Colour printer</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="ColourprinterComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    14
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">VHF DSC transceiver</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="VHFDSCtransceiverComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    15
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">MF /HF DSC radio installation</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="radioinstallationComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    16
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Inmarsat C</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="InmarsatCComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    17
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Magnetic compass</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="MagneticcompassComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    18
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Spare compass bowl</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SparecompassbowlComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    19
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Compass observation book</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="CompassobservationbookComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    20
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Gyro compass</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="GyrocompassComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    21
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Rudder indicator</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="RudderindicatorComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    22
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Speed log</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SpeedlogComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    23
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Navigation, NUC, and anchor lights</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="NavigationComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    24
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Daylight Signals</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="DaylightSignalsComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    25
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Signal flags</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SignalflagsComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    26
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">RPM / Speed table</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="RPMComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    27
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Basic manoeuvring data</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="BasicmanoeuvringdataComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    28
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Master’s standing orders</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="MasterstandingordersComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    29
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Master's night orders book</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="MasternightordersbookComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                   30
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Sextant</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SextantComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    31
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Azimuth mirror</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="AzimuthmirrorComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                   32
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Bridge posters</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="BridgepostersComment" rows="1"></textarea>
                </td>
            </tr>
            @*<tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    33
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Review of planned maintenance system</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="ReviewofplannedComment" rows="1"></textarea>
                </td>
            </tr>*@
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    33
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Bridge bell book</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="BridgebellbookComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    34
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Bridge navigational watch alarm system</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="BridgenavigationalComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    35
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Bridge - windows wipers</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="BridgewindowswipersComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    36
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Bridge window water sprays</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="BridgewindowswiperssprayComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    37
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Ship's  Public Address system</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="ShipPublicAddrComment" rows="1"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%" class="v-al-m">
                    Comments:
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td colspan="4" width="100%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SecurityEquipmentComment" rows="2"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="Section breakDiv clsSection">
    <div class="SectionHead">
        <u>Section 5I</u> - Navigation
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr class="addDeficiencies">
                <td class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="NavigationPost" rows="2"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        @* RDBJ 10/19/2021 Set Name and Value *@
        <input type="checkbox" name="IsBridgeSectionComplete" style="margin-left:20px;" class="GIRData" value="true">
    </div>
</div>
