<div class="Section breakDivPage clsSection">
    <div class="SectionHead">
        <u>Section 5G</u> - Security Equipment and Records
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td width="10%" class="v-al-m text-center">
                    No.
                </td>
                <td width="40%" class="v-al-m text-center">Item</td>
                <td width="50%" class="v-al-m text-center">Comment</td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    1
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Gangway access control</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="GangwayComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    2
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Restricted access</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="RestrictedComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    3
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Outside lockers</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="OutsideComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    4
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Entrance doors and hatches</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="EntrancedoorsComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    5
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Accommodation, deck, and portable lighting</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="AccommodationComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    6
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Handheld VHF radios (excl. GMDSS)</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="GMDSSComment5G" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    7
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Various (padlocks, cable ties, visitor badges)</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="VariousComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    8
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Master appointed as SSO</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SSOComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    9
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Security logbook in use</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SecuritylogbookComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    10
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">List of last 10 ports available</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="Listoflast10portsComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    11
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">PFSO details being obtained and recorded</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="PFSOComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    12
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Security level changes recorded</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SecuritylevelComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    13
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Drills and training conducted as per SSP</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="DrillsandtrainingComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    14
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">DOS completed when necessary</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="DOSComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    15
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">SSAS tested as per schedule</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SSASComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    16
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Visitors logbook</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="VisitorslogbookComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    17
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Key register</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="KeyregisterComment" rows="1"></textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    18
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Ship Security Handbook available for all crew</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="ShipSecurityComment" rows="1"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%" class="v-al-m">
                    Comments:
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td colspan="4" width="100%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SecurityComment" rows="2"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        @* RDBJ 10/19/2021 Set Name and Value *@
        <input type="checkbox" name="IsSecuritySectionComplete" style="margin-left:20px;" class="GIRData" value="true">
    </div>
</div>
