<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="DBConfigPath" value="C:\JsonFiles\DBConfig.json"/>
    <add key="OfficeAPPUrl" value="http://ims.carisbrooke.co/OfficeApplication/"/>
    
    <add key="ServiceConfigPath" value="C:\JsonFiles\ServiceConfig.json"/>
    <add key="FormsListPath" value="C:\JsonFiles\FormsList.json"/>
    <add key="DocumentsListPath" value="C:\JsonFiles\DocsList.json"/>
    <add key="ShipValuePath" value="C:\JsonFiles\Shipvalue.json"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <add key="PrefixServerPath" value="C:\inetpub\wwwroot\OfficeApplication\"/>
    <add key="AppVersion" value="6.0.0.0"/>
    <add key="CarisbrookeShippingServicePath" value="C:\Program Files (x86)\CarisbrookeShipping\CarisbrookeShippingService\"/>
    <add key="ShipApplicationPath" value="C:\inetpub\wwwroot\ShipApplication\"/>
    <add key="OpenfileServiceAppUpdatePath" value="C:\JsonFiles\OpenfileServiceUpdateInfo.json"/>
	  
	<!-- 03/02/2022 Added MainSyncServiceIntervalTime -->
	<add key="MainSyncServiceIntervalTime" value="C:\inetpub\wwwroot\ShipApplication\JsonFiles\MainSyncServiceIntervalTime.json"/>

	<add key="APIUrl" value="http://ims.carisbrooke.co/CarisbrookeShipping/"/>
	<add key="ServiceEndPoint" value="http://localhost:80/Temporary_Listen_Addresses/CarisbrookeFileService"/>
	  
	<!--<add key="APIUrl" value="http://localhost:32694/" />
	<add key="ServiceEndPoint" value="http://localhost:3063/CarisbrookeFileService" />-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
