<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--<add key="DBConfigPath" value="E:\Data\Work\dotNetProject\CarisBrooke\Projects\ShipApplication\ShipApplication\JsonFiles\DBConfig.json"/>-->
    
    <!-- RDBJ 12/08/2021 Server Keys -->
    <!-- RDBJ 11/08/2021 Added TechnicalAndISMGroupEmailsList-->
	<!-- RDBJ 02/26/2022 Added MainSyncServiceIntervalTime -->
    <add key="TechnicalAndISMGroupEmailsList" value="C:\inetpub\wwwroot\ShipApplication\JsonFiles\SMTPServerConfig.json"/>
	<add key="MainSyncServiceIntervalTime" value="C:\inetpub\wwwroot\ShipApplication\JsonFiles\MainSyncServiceIntervalTime.json"/>
    <add key="DBConfigPath" value="C:\inetpub\wwwroot\ShipApplication\JsonFiles\DBConfig.json"/>
    <add key="OfficeAPPUrl" value="https://ims.carisbrooke.co/OfficeApplication/"/>
    <add key="APIUrl" value="https://ims.carisbrooke.co/CarisbrookeShipping/"/>
	<add key="ShipAPPLocalPath" value="C:\inetpub\wwwroot\ShipApplication"/>


    <!-- RDBJ 12/08/2021 Local-Test Keys -->
    <!-- RDBJ 11/08/2021 Added TechnicalAndISMGroupEmailsList-->
	<!-- RDBJ 02/26/2022 Added MainSyncServiceIntervalTime -->
    <!--<add key="TechnicalAndISMGroupEmailsList" value="C:\inetpub\wwwroot\ShipApplication\JsonFiles\SMTPServerConfig.json" />
    <add key="MainSyncServiceIntervalTime" value="E:\Data\Work\dotNetProject\CarisBrooke\Projects\ShipApplication\ShipApplication\JsonFiles\MainSyncServiceIntervalTime.json" />
    <add key="DBConfigPath" value="C:\inetpub\wwwroot\ShipApplication\JsonFiles\DBConfig.json"/>
    <add key="OfficeAPPUrl" value="http://localhost:20217/" />
    <add key="APIUrl" value="http://localhost:32694/" />
    <add key="ShipAPPLocalPath" value="D:\Data\Work\dotNetProject\CarisBrooke\Projects\ShipApplication\ShipApplication"/>-->
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="AppVersion" value="5.19.1000"/>
  </appSettings>
  <!--RDBJ 10/04/2021-->
  <system.net>
    <defaultProxy enabled="false"></defaultProxy>
  </system.net>
  <!--End RDBJ 10/04/2021-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
	
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
</configuration>
