<div class="Section breakDivPage">
    <div class="SectionHead">
        <u>Section 6</u> - Summary and Recommendations
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td>
                    <textarea class="form-control col-md-12" name="SummaryComment" rows="2">@Model.SummaryComment</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        <input type="checkbox" name="IsSummarySectionComplete" style="margin-left:20px;">
    </div>
</div>
