<div class="Section breakDiv">
    <div class="SectionHead">
        <u>Section 5A</u> - Certification
    </div>
    <div class="SectionContent">
        <table class="table tblSection tblSectionManning4d">
            <tr>
                <td width="100%"><p class="m-5">All ships certificates checked against latest Ship Certificate Status Index (SCSI):</p></td>
            </tr>
            <tr>
                <td width="100%"><textarea class="form-control col-md-12" name="CertificationIndex">@(Model != null ? Model.CertificationIndex : "")</textarea> </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        <input type="checkbox" name="IsShipCertificationSectionComplete" style="margin-left:20px;">
    </div>
</div>
