.m-0 {
    margin: 0px !important;
}

.m-5 {
    margin: 5px !important;
}

.p-1 {
    padding: 1px !important;
}

.p-b-0 {
    padding-bottom: 0px !important;
}

.p-5 {
    padding: 5px !important;
}

.f-w-b {
    font-weight: bold !important;
}
