<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=.;Initial Catalog=CASHIP_WebGUI;User ID=sa;Password=YlG-CRe-v2UJTnmDAcyUaQ95vg;Integrated Security=True"/>
    <add name="CarisbrookingOfficeConnStr" connectionString="Data Source=.;Initial Catalog=CarisbrookeShipping;User ID=sa;Password=YlG-CRe-v2UJTnmDAcyUaQ95vg;Integrated Security=True"/>
    <add name="ConnStrIMOS" connectionString="Data Source=.;Initial Catalog=IMOS;User ID=sa;Password=YlG-CRe-v2UJTnmDAcyUaQ95vg;Integrated Security=True"/>

    <!--For Local Testing-->
    <!--<add name="CarisbrookingOfficeConnStr" connectionString="Data Source=WEBASHLAR-10\SQLEXPRESS;Initial Catalog=CarisbrookeShipping_8Feb2018;User ID=sa;Password=123456;Integrated Security=True"/>-->
  </connectionStrings>
  <appSettings>
    <add key="SMPTServerName" value="owa.carisbrooke.co"/>
    <add key="SMTPPort" value="27" />
    <add key="SMTPFromAddress" value="info@carisbrooke.co" />
    <add key="SMTPUserName" value="info" />
    <add key="SMTPPassword" value="$MTP01983" />
    <add key="IsAuthenticationRequired" value="true" />
    <add key="TOEmail" value="prashantpatel.wa@gmail.com" />
    <add key="CCEmail" value="daniel.lewandowski@carisbrooke.co" />
  </appSettings>
</configuration>